<div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#menus"
			aria-controls="menus" role="tab" data-toggle="tab">Menus</a></li>
		<li role="presentation"><a href="#promotions"
			aria-controls="promotions" role="tab" data-toggle="tab">Promotions</a></li>
		<li role="presentation"><a href="#empleoyees"
			aria-controls="empleoyees" role="tab" data-toggle="tab">Employees</a></li>
		<li role="presentation"><a href="#reports"
			aria-controls="reports" role="tab" data-toggle="tab">Reports</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="menus">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<label>Search: <input ng-model="vm.filterMenu"></label>
				</div>
				
				<!-- Table -->
				<div class="panel-group" id="accordion" role="tablist"
					aria-multiselectable="true">
					<div class="panel panel-default" ng-repeat="menu in vm.menus | filter:vm.filterMenu track by $index ">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion"
									href="#menu-{{$index}}" aria-expanded="false"
									aria-controls="menu-{{$index}}">
										<h2>{{menu.name}}</h2>
								</a>
								<div class="row">
								  <div class="col-md-8">
								  	<div><b>Price:</b> {{menu.price.currency}}{{menu.price.value}}</div>
									<div><b>From:</b> {{menu.dateFrom}}</div>
									<div><b>To:</b> {{menu.dateTo}}</div>
								  </div>
								  <div class="col-md-4">
								  	<div>
									<button type="button" class="btn btn-info"
												ng-click="vm.edit()">Edit</button>
										<button type="button" class="btn btn-danger"
												ng-click="vm.delet()">Delete</button>
								</div>
								  </div>
								</div>
								
								
							</h4>
						</div>
						<div id="menu-{{$index}}" class="panel-collapse collapse"
							role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="row"><b>Description:</b>{{menu.description}}</div>
								<div class="row"><b>Days:</b>{{menu.days}}</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>